# Auto detect text files and perform LF normalization on checkin
* text=auto

# Configuration files required to have strict Unix LF line endings
.node-version text eol=lf
.nvmrc text eol=lf
Containerfile text eol=lf
Dockerfile text eol=lf
*.sh text eol=lf
